<!DOCTYPE html>
<html>
<head>
  <title>ChrysalisApp</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
